---
import Layout from "../layouts/Layout.astro";
import { DateCalculator } from "../components/DateCalculator";
import DarkModeToggle from "@/components/DarkModeToggle.astro";
---

<Layout title="Date Calculator" description="Various date math operations">
  <main
    class="min-h-screen py-12 px-4 sm:px-6 lg:px-8
           bg-gradient-to-br from-indigo-50 via-white to-pink-50
           dark:from-gray-900 dark:via-gray-950 dark:to-black
           transition-colors duration-500"
  >
    <div class="max-w-5xl mx-auto space-y-8">
      <DateCalculator client:load />
      <div class="flex justify-center">
        <DarkModeToggle id="dark-mode-toggle" />
      </div>
    </div>
  </main>
</Layout>
