---
import Layout from "../layouts/Layout.astro";
import PrecisionClock from "../components/PrecisionClock.astro";
---

<Layout title="Time">
  <div class="flex flex-col items-center justify-center h-screen">
    <PrecisionClock id="clock" />
  </div>
</Layout>
