---
import Tailwind from "./Tailwind.astro";

interface Props {
	title: string;
	description: string;
	disableZoom?: boolean;
}

const { title, description, disableZoom = false } = Astro.props;

const viewportContent = disableZoom
	? "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
	: "width=device-width, initial-scale=1.0";
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			(() => {
			const theme = (() => {
				try {
				if (localStorage.theme) return localStorage.theme;
				} catch {}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
				}
				return "light";
			})();
			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
			})();
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content={viewportContent} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<Tailwind />