---
interface Props {
	title: string;
	disableZoom?: boolean;
}

const { title, disableZoom = false } = Astro.props;

const viewportContent = disableZoom
	? "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
	: "width=device-width, initial-scale=1.0";
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			(() => {
			const theme = (() => {
				try {
				if (localStorage.theme) return localStorage.theme;
				} catch {}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
				}
				return "light";
			})();
			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
			})();
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content={viewportContent} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    @import "tailwindcss";
	@custom-variant dark (&:where(.dark, .dark *));

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--border-color: #464352;
		--p-text-color: #e5e5e5;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
